.App {
  margin-top: -36vh;
}

.title {
  margin-top: 23vh;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.options-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .option-tile {
    text-decoration: none;
    color: rgb(255, 255, 255); /* Adjust text color as needed */
  }
  
  .option-tile h2 {
    text-align: center;
    margin-top: 10px;
  }


  .option-image {
    width: 100%;
    height: 400px;
    width: 400px; /* Adjust height as needed */
    background-size: cover;
    background-position: center;
  }
  

  /* Add this inside your Option.css file */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.option-tile {
  animation: fadeIn 1s ease forwards;
  opacity: 0; /* Start invisible */
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}